


/* GoogleFonts雲端字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');


:root,
[data-bs-theme=light] {
 --bs-dark-rgb: 0, 166, 0;
 /* 修改Tooltips背景色 */
 --bs-emphasis-color: #002266;

}

:root {
    --color-dark-blue: #000088;
    --font-weight-bold:bolder;
}

/* 雲端字體套用在body標籤 */
body {
    font-family: "微軟正黑體","Noto Sans TC", sans-serif;
   }
  

/* 選取器是標籤，影響整體 */
h2 {font-size: 2rem;font-weight: 900;color:rgb(39, 102, 229);}   

/* 選取器是類別，影響個別，需要手動套用 */
.h2-custom-pink {font-size: 3rem;font-weight: 900;color:rgb(255, 0, 195);}



/*自訂邊框樣式*/
.card-custom  {
   border-style:solid;
   border-width: 5px;
   border-color:red;
   border-radius: 5px;
}



/* 拿掉文字超連結下底線 */
footer  a  {
    text-decoration: none;
}


/* 文字首行縮排 */
.textIndent{text-indent : 2rem;}

/* 文字色彩 */
.text-orange  {color: #d7580f;}




/* 標題Icons */
.iconsTitle{
 font-size: 2.3rem !important; 
 color: rgb(39, 102, 229);  
 vertical-align: bottom;
}



/*編號清單-類別選取器*/
.list-no  {list-style-type: decimal-leading-zero;}

/* 項目清單-類別選取器 */
.list-symbol {list-style-type:circle}







/* 住宿資訊hotel.html，取消邊框，以類別作為選取器*/
.card-no-border {
    border: none;
}



/* 選取器是標籤，影響整體 */
h5 {font-weight: 900;}


/* 無障礙-文字對比 */
/* footer {background-color: #114444;color: #22FF00;}*/
.footer-bg-text{background-color: #114444;color: #22FF00;}


.modal  {
    --bs-modal-width: 600px;
}

/* Accordion 微型網站做法
.accor-mainTitle {font-size: 1.8rem;}

.accor-title {font-size: 1.4rem ；font-weight: 900;}

.accor-subtitle {font-size: 1.2rem;color:black  ；}

.accor-title-h3 {font-size: 1rem;font-weight: 900;font-style: italic;}  */


/* Accordion 中大型網站作法(先設計變數，再帶入成為屬性的值 */


.accor-mainTitle {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-blue);
}


.accor-title {
    font-size: 1.4rem ；
    font-weight: var(--font-weight-bold)；
    color: var(--color-dark-blue);
}

.accor-subtitle {
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    color:black  ;

}

.accor-title-h3 {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    font-style: italic;
}





























